.primary-color-text
{
    color:#1976d2;
}
// #1976d2 
// #bddaf2
.secondary-color-text
{
    color:#d1e5f3;
}

.secondary-color-background
{
    background-color:#d1e5f3;
}

.primary-color-background
{
    background-color:#1976d2;
    border-radius: 1em;
}

.secondary-color-border
{
    border-color:#d1e5f3;
    border-radius: 1em;
}

.primary-color-border
{
    border-color:#d1e5f3;
    border-radius: 1em;
}

.form-shadow
{
    box-shadow: 0 4px 6px #d1e5f3;
}

.center-text{
    text-align: center;
}